*{
    margin: 0 auto;
padding: 0;
}
/* .parent{
     font-size: 3em;
}
.child{
     font-size: 2em;
     width: 10rem;
} */
/* .btn{
    background-color: greenyellow;   
     display: block;
     margin:  10px auto;
    padding: 1em;
     border-radius: 10px;
     border: none;
     font-size: 18px;
     width: 8em;
     
}
.btn_small{
    background-color: greenyellow;   
    display: block;
    margin:  0 auto;
   padding: 16px;
    border-radius: 10px;
    border: none;
    font-size: 10px;
} */